* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.bg {
  background-image: url(https://image.cnbcfm.com/api/v1/image/106811484-1608045351058-gettyimages-1126750618-dsc_1540.jpeg?v=1608045431);
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0px;
}

ul {
  display: flex;
  gap: 20px;
}

.burger {
  padding: 0 10px;
  display: none;
}
.burger svg {
  width: 30px;
}
.text1 {
  text-decoration: none;
  color: white;

  list-style-type: none;
}

.text1:hover {
  color: rgb(250, 195, 13);
  transition: 0.1s;
}

li {
  padding: 20px;
  list-style-type: none;
}

header {
  position: fixed;
  top: 0;
  background-color: #1e2d3b;
  z-index: 100;
  width: 100%;
}

.para {
  max-width: 200px;
}

.fa-youtube {
  color: #e4405f;
}
.fa-instagram {
  color: #e4405f;
}

.logo {
  background-color:#eccd20;
  justify-content: center;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.company {
  /* display:flex; */
  gap: 5px;
  align-items: center;
}
.company-logo {
  padding: 0 10px;
  align-items: center;

}
.company-logo svg {
  width: 40px;
  height: 40px;
  align-items: center;
}

.home {
  position: relative;
}

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.intro p {
  color: white;
  font-size: 60px;
}

.home-button {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.center {
  text-align: center;
  margin-top: 30px;
  font-size: 60px;
  letter-spacing: 4px;
  color: #1e2d3b;
}

.services {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
  /* padding: 0 10%; */
  gap: 80px;
}

.cards {
  width: 300px;
  background-color: #f7f7f7;
  height: 450px;
}

.image img {
  width: 100%;
}

.title {
  text-align: center;
  line-height: 30px;
  color: #3d5975;
  font-family: "Geologica", sans-serif;
  font-family: "Rubik", sans-serif;
}

.des {
  text-align: center;
  line-height: 25px;
  font-family: "Geologica", sans-serif;
  font-family: "Rubik", sans-serif;
}

.bg2 {
  background-image: url(https://www.agcs.allianz.com/content/onemarketing/agcs/agcs/en_GB/news-and-insights/reports/global-industry-solution-outlook-2023-construction.thumb.1280.1280.png?ck=1682418269);
  height: 90vh;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
}

section {
  display: flex;
  margin-top: 100px;
  gap: 100px;
  background-color: #f7f7f7;
}

.left {
  width: 50%;
  margin-left: auto;
  padding: 0 5%;
}
.left-text {
  display: flex;
  justify-content: flex-end;
  width: 90%;
  flex-direction: column;
  margin-left: auto;
}
.left-text h1 {
  font-size: 60px;
  color: #1e2d3b;
  letter-spacing: 0.05em;
  padding-bottom: 40px;
}

.left-text p {
  letter-spacing: 1px;
  font-size: 17px;
  font-family: "Geologica", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.right {
  width: 50%;
  height: 20%;
}

.counter {
  /* margin-top: 100px; */
  display: flex;
  justify-content: space-evenly;
  background-color: #eccd20;
  text-align: center;
}

.counter p{
  color: #3d5975;
}

.projects {
  margin-top: 100px;
}

.projects H1 {
  text-align: center;
  font-size: 60px;
  color: #1e2d3b;
}

.upper2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
}

.upper2 img {
  width: 454px;
  height: 453px;
  transition: 0.7s;
}

.upper2 img:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.lower2 {
  display: flex;
  justify-content: center;
  gap: 30px;
  overflow: hidden;
  margin-top: 30px;
}

.lower2 img {
  width: 454px;
  height: 453px;
  transition: 0.7s;
}
.lower2 img:hover {
  transform: scale(1.1);
  transition: 0.7s;
}

.clients h1 {
  text-align: center;
  font-size: 60px;
  color: #1e2d3b;
}

.clients {
  margin-top: 150px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  font-size: 60px;
  margin-top: 50px;
}

#first:hover {
  color: #7289da;
}

#second:hover {
  color: blue;
}

#third:hover {
  color: #e4405f;
}

#fourth:hover {
  color: red;
}

#fifth:hover {
  color: #1da1f2;
}

.burger:hover {
  cursor: pointer;
}

.contact {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact h1 {
  text-align: center;
  font-size: 60px;
  color: #1e2d3b;
}
.box {
  color: #337ab7;
  font-size: 50px;
}
.contact img {
  margin-left: 210px;
}

.left-side {
  margin-top: 100px;
  width: 500px;
  display: inline;
}

.right-side {
  margin-top: 100px;
  display: inline;
  width: 500px;
}

.whole-project {
  padding-top: 65px;
}

.project1 {
  width: 100%;
  height: 200px;
  background-color: rgb(241, 237, 237);
}

.project1 h1 {
  padding: 70px;
  padding-left: 235px;
  font-size: 55px;
  font-family: "Geologica", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Work Sans", sans-serif;
  color: #1e2d3b;
}

.project-text {
  width: 400px;
  padding-left: 50px;
  padding-top: 70px;
  word-spacing: 4px;
}

.project-text p {
  letter-spacing: 1px;
  font-size: 17px;
  font-family: "Geologica", sans-serif;
  font-family: "Rubik", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.project-text button {
  /* width: 149px;
  height: 40px;
  background-color: rgb(46, 45, 45);
  color: rgb(240, 168, 14);
  border-width: 1px;
  margin-top: 70px; */
  width: 149px;
  height: 40px;
  background-color: rgb(46, 45, 45);
  border-width: 1px;
  margin-top: 20px;
  border: 0;

}

.project-text a {
  text-decoration: none;
  color: #edcd1f;
  font-family: 'Geologica', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight:  600;
  font-size: 15px;
}


/* .project-text a:hover{
  color: rgb(46, 45, 45)
}

.project-text button:hover{
  background-color: rgb(240, 162, 17);
  color: rgb(44, 44, 44);
  transition: 0.7s;
} */

.about-project {
  display: flex;
  padding-top: 70px;
  padding-bottom: 70px;
  gap: 100px;
  justify-content: center;
  flex-wrap: wrap;
}

.back-video {
  width: 100%;
  right: 0;
  bottom: 0;
}

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(248, 248, 248, 0.993);
  gap: 100px;
  padding-bottom: 80px;
}

.contact-us input, textarea{
  width: 400px;
}


form button {
  width: 149px;
  height: 40px;
  background-color: rgb(46, 45, 45);
  color: #edcd1f;
  border-width: 1px;
  margin-top: 20px;
  border: 0;
  font-family: 'Geologica', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Work Sans', sans-serif;
  font-weight:  600;
}

form button:hover {
  background-color: #edcd1f;
  color: rgb(44, 44, 44);
  transition: 0.7s;
}

@media (max-width: 1024px) {
  .burger {
    display: block;
  }
  #navigation {
    display: none;
  }
  .logo {
    width: 100%;
    justify-content: space-between;
  }
  .box {
    font-size: 32px;
  }
  nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar {
    width: 100%;
  }
  .navbar ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar li {
    text-align: center;
  }
  .navbar li a {
    padding: 0.5rem 1rem;
  }
  .navbar.active {
    display: flex;
  }
}

@media (max-width: 768px) {
  .box {
    font-size: 20px;
  }
  footer {
    flex-direction: column;
    align-items: center;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  .insquiries {
    display: none;
  }
  .contact-us input {
    width: 250px;
  }
  .inquiries {
    width: 300px;
  }
  .right-side {
    width: 300px;
  }
  .left-side {
    width: 300px;
  }
  .intro p {
    font-size: 30px;
  }
  section {
    flex-direction: column;
  }
  .left {
    width: 100%;
  }
  .left-text {
    width: 100%;
  }
  .right {
    width: 100%;
  }
  .projects img {
    height: 300px;
    object-fit: cover;
  }
}
